/* - - - - GENERAL - - - - */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat-Black', sans-serif;
}

h2 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-style: italic;
  color: white;
  font-size: 45px;
}

h4 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-style: italic;
  color: white;
  font-size: 18px;
}

p {
  color: #8f8f8f;
}

/* - - - - CLASSES - - - - */
.bio {
  font-size: 20px;
  font-weight: bold;
  color: #283f55;
}

.bio:hover {
  color: #0033cc;
}

.aboveabout {
  font-size: 30px;
  color: #283f55;
  font-style: italic;
  padding-bottom: 0.5%;
}

.aboutbio {
  font-size: 20px;
  color: grey;
  padding: 0% 14% 2% 14%;
}

.image {
  position: relative;
}

.bckimage {
  width: 100%;
  opacity: 0.5;
}

.intro {
  position: absolute;
  top: 150px;
  left: 30px;
  right: 30px;
  text-align: center;
}

.container {
  padding-bottom: 0px;
}

.navbar {
  padding: 0 0 0;
}

.navbar-brand {
  font-size: 1.6rem;
  font-family: 'Ubuntu', sans-serif;
}

.nav-item {
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Montserrat-light';
}

.testimonials-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
  opacity: 1;
}

.carousel-item {
  padding: 7% 15%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
  padding: 20px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.pics {
  opacity: 0.6;
  height: 190px;
}

.pics:hover {
  opacity: 1;
}

.about {
  font-style: italic;
  text-align: center;
}

.icons {
  border-radius: 100%;
  width: 50%;
  margin-bottom: 10px;
  opacity: 0.6;
  height: 130px;
}

.icons:hover {
  opacity: 1;
}

.feature-box {
  text-align: center;
  padding: 5%
}

/* - - - - SECTIONS - - - - */
#title {
  background-color: #6a6b80;
  color: #fff;
  opacity: 0.8;
}

#features {
  background-color: white;
  padding: 5% 10%;
  position: relative;
}

#testimonials {
  text-align: center;
  background-color: #ccccff;
  color: #fff;
}

#cities {
  padding: 3% 5% 0% 5%;
}

#footer {
  text-align: center;
  padding: 5% 30% 3%
}

/* - - - - RESPONSIVE LAYOUT - - - - */
/* Arrange title position */
@media screen and (max-width: 767px) {
  .intro {
    position: absolute;
    top: 70px;
    left: 30px;
    right: 30px;
    text-align: center;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 12px;
  }
}

@media screen and (min-width:768px) and (max-width:989px) {
  .intro {
    position: absolute;
    top: 110px;
    left: 30px;
    right: 30px;
    text-align: center;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 15px;
  }
}
}

@media screen and (min-width:990px) {
  .intro {
    position: absolute;
    top: 140px;
    left: 30px;
    right: 30px;
    text-align: center;
  }

  h3 {
    font-size: 50px;
  }

  h4 {
    font-size: 18px;
  }
}

/* Arrange icons size */
@media screen and (max-width: 767px) {
  .icons {
    border-radius: 100%;
    width: 30%;
    margin-bottom: 10px;
    opacity: 0.6;
    height: 130px;
 }
}


/* Makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 767px) {
  .column {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width:768px) and (max-width:989px) {
  .column {
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width:990px) {
  .column {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
